<div class="container">
    <header class="page-header">
        <h1>Mieux nous connaître</h1>
    </header>

    <p>{{about.presentation}}</p>

        <!--
        <p>
        <img src={{about.image}}
             style="box-shadow: 10px 10px 5px #888;margin: 10px;cursor: pointer;border: 1px solid orangered;"
             title="Clique, pour en savoir plus."
             width="33%"
             height="33%"
             onclick="window.open('http://www.sfeir.com/#/propos', '_blank');">
        </p>-->
        <div style="text-align: center;cursor: pointer;margin: auto; width: 220px;min-width: 220px;"
           onclick="window.open('http://www.sfeir.com/#/propos', '_blank');">
            <span style="color:#ff4500;font-size: 50px;font-family: SFEIR;font-weight: bolder;">[</span>
            <span style="color:black;font-size:50px;font-family: SFEIR;font-weight: bolder;">sf</span>
            <span style="color: #ff4500;font-size: 38px;font-family: sans-serif;font-weight: bolder;">&Xi;</span>
            <span style="color: black;font-size:50px;font-family: SFEIR;font-weight: bolder;">ir</span>
            <span style="color:#ff4500;font-size: 50px;font-family: SFEIR;font-weight: bolder;">]</span>
        </div>

    <p>{{about.blabla}}</p>
    <header class="page-header">
        <h1>Nos activitées</h1>
    </header>
    <object style="width:800px;height: 400px;border: 1px solid black;box-shadow: 10px 10px 5px #888;"
            data="https://spreadsheets.google.com/spreadsheet/loadredirect?authuser=0&chrome=false&key=0Au1NQW9FLRKVdFN4ZEpMMlFwWVBPX1pZeUd4MENCV0E&output=html&pubredirect=true&widget=true"></object>
</div>
